fastapi
uvicorn
pydantic
python-dotenv
supabase
chromadb
langchain
langchain-core
langchain-text-splitters
langchain-aws
langchain-groq
langgraph
fastembed
langchain
langchain-community
langchain-google-genai