fastapi
uvicorn
sqlalchemy
psycopg
pydantic-settings
python-dotenv
langchain 
langchain-core
langchain-community
sentence-transformers
langchain-text-splitters
faiss-cpu
langchain-aws
chromadb
bedrock-agentcore
supabase
boto3
langgraph